h1 {
  text-align: center;
} 

body, html {
  height: 100%;
}

body {
  background-image:url(http://wallpaper-download.net/wallpapers/styles/1366x768/public/game-wallpapers-minecraft-landscape-wallpaper-30781.png?itok=2cS4gY1s);
  background-size:cover;
  background-repeat:no-repeat;
}



.head_title {
  font-family: Calibri;
  border-style:solid;
  border-width: 5;
  
}

.wallpaper {
  width: 400px;
  position:static;
}

section {
    width: 960px;
    margin: 0 auto;
    text-decoration:none;
    background-image:url("http://emoticonswallpapers.com/background/pattern/background-pattern-007.jpg");
    padding: 20px;

}
.mansion {
  width: 300px
}


.trailer {
  width:500;
  padding:10px;
}

.picture_title {
  
  width: 160px;
  margin:0 auto;
}

nav li {
    display: inline;
    text-align: center;
}

nav a:hover{
  color: #A97D5D
   ;
}


body li:hover{
  color: #0066FF;
}

div {
    text-decoration:none;
}

nav li a {
    text-decoration: none;
    color: #5C755E;
}

.heading-background {
  background-image: url(http://i.imgur.com/SWQZQSN.png);
  background-size: 100px 100px;
}

.fade {
  position: fixed;
  top:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right:auto;
  width:auto;
  height:50px;
  text-align:center;
  background-color:#F7DCB4;
}


body {
  cursor: url(http://36.media.tumblr.com/6637f047930609f1e50dba10797db93c/tumblr_mg2flhYthJ1s2q1hro1_400.png), auto;
  
}

aside img {
    background-color:#046380;
    border-style:solid;
    border-radius:50%;
}