.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background-color:#00CC66;
    position:fixed;
    opacity: 0.90;
    top:0;
    right:0;
    left:0;
    margin:0;
    height:9%;
      
}
 
.menu {
    width:99%;
    margin:0px auto;
    text-align:center;
}
 
.menu li {
    margin:0px;
    list-style:none;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#00664C;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#4db8b8;
    font-weight: 900;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    /*float:left;*/
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:5px 2px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#00664C;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:150%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:1000;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#00CC66;
}
 
.sub-menu li {
    display:block;
}
 
.sub-menu li a {
    padding:10px 20px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#00664c;
}

#home {
    width: 52px;
}

#survive {
    width: 135px;
}

#videos {
    width:57px;
}

#mobs {
    width:215px;
}

#food {
    width:142px;
}

#where {
    width:152px;
}

#help {
    width:142px;
}

#slideshow {
    width:144px;
}