h1 {
     text-align: center;
} 

.burger {
    width: 100px;
}

.bread {
    width: 100px;
}

body {background-image: url(http://emoticonswallpapers.com/background/pattern/background-pattern-007.jpg);
}
.catbread {
    width:100px;
}
.dog {
    width: 100px;
}

