h1 {
  text-align: center;
} 

.burger {
  width: 100px;
}

.bread {
  width: 100px;
}

body {
  background-image: url("http://emoticonswallpapers.com/background/pattern/background-pattern-007.jpg");
;
}

.catbread {
  width:100px;
}

.dog {
  width: 100px;
}

.mansion {
  width:100px; 
  
}

.head_title {
  font-family: Calibri;
  border-style:solid;
  border-width: 5;
}

.wallpaper {
  width: 400px;
}

.container {
    width: 960px;
    margin: 0 auto;
}
.mansion {
  width: 300px
}

.dragon {
  width:300px;
}

