h1 {
  text-align: center;
} 

.burger {
  width: 100px;
}

.bread {
  width: 100px;
}

body {
  background-image: url("school.png");
;
background-size: cover;
}

.catbread {
  width:100px;
}

.dog {
  width: 100px;
}

.head_title {
  font-family: Calibri;
  border-style:solid;
  border-width: 5;
}

.wallpaper {
  width: 500px;
  position:static;
}

.container {
    width: 960px;
    margin: 0 auto;
    text-decoration:none;
    background-image:url("http://emoticonswallpapers.com/background/pattern/background-pattern-007.jpg");
    padding: 20px;
}
.mansion {
  width: 300px
}


.trailer {
  width:500;
}

.picture_title {
  
  width: 200;
  margin:0 auto;
}

nav li {
    display: inline;
    text-align: center;
}

nav a:hover{
  color:  #A97D5D
   ;
}


body li:hover{
  color: #0066FF;
}

div {
    text-decoration:none;
}

nav li a {
    text-decoration: none;
    color: #5C755E;
}

.active {
  font-weight: 900;
}








body {
    background-image:url(http://wallpaper-download.net/wallpapers/styles/1366x768/public/game-wallpapers-minecraft-landscape-wallpaper-30781.png?itok=2cS4gY1s);
}

.heading-background {
  background-image: url(http://i.imgur.com/SWQZQSN.png);
  background-size: 100px 100px;
  
}

th, td {
    border: 3px solid black;
}

table {
  border-collapse:collapse;
  
}
tr:hover {
  background-color: #3366FF;
}

iframe {
  float:left;
}

.content {
  float:right;
}


.fade {
  position: fixed;
  top:0;
  right:0;
  left:0;
  margin-left: auto;
  margin-right:auto;
  width:auto;
  height:50px;
  text-align:center;
  background-color:#F7DCB4;
}

.container {
  border-style:solid;
  border-bottom-width:500px;
  border-color:transparent;
}